@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --bg-primary: #008C45;
  --bg-primary-dark: #00381c;
}

body {
  background-color: white;
  color: var(--color-black);
  padding: 0 5rem;
}

h1 {
  font-size: var(--text-2xl);
  margin-bottom: 0.75rem;
}

h2 {
  font-size: var(--text-xl);
  margin: 0.5rem 0;
}

p {
  margin-bottom: 0.75rem;
}

hr {
  color: var(--color-gray-600);
  margin: 1rem;
}

nav a:hover {
  text-decoration: underline;
  color: #008C45;
}

a {
  color: #008C45;

  &:hover {
    text-decoration: underline;
  }
}

.bg-green {
  background-color: #008C45;
}

.bg-green-dark {
  background-color: #00381c;
}

@counter-style rating {
  system: additive;
  additive-symbols: 1 '\2022';
  suffix: ' ';
}

ol.rating {
  list-style-type: rating;
  list-style-position: inside;

  li {
    margin-left: ;
  }
}

@media (max-width: 768px) {
  body {
    padding: 0 1rem;
  }
}
