<script>
  import DownloadButton from "$lib/DownloadButton.svelte"
</script>

<svelte:head>
  <title>Character Rules | Little Lamplight</title>
</svelte:head>

# Character Growth

Characters gain 4 experience for attending a session and submitting their writeup.

Writeups are done immediately after the session ends before everyone leaves. As part of your writeup, give kudos to one or more players who did a great job embodying their court's emotions or goals. These will go toward that character [gaining Mantle](/rules#court-mantle).

Any sheet change that doesn't feel good in play can be altered or undone by talking with the STs within three sessions.

At the start of each session, each character's initial glamour is determined by rolling 1d10, then adding one glamour for every dot in the Harvest or [Garden](/rules#hollows) merit. Harvesting glamour during play is done with a short scene.

# Character Creation

- <DownloadButton url="/Little_Lamp_Light_Character_Creation.docx">Download creation rules (.docx)</DownloadButton>
- <DownloadButton url="/Dark_Ages_Changeling_2pg.pdf">Download PDF Character Sheet (.pdf)</DownloadButton>
- <DownloadButton url="/Dark_Ages_Changeling_Sheet_in_Excel.xlsx">Download Excel Character Sheet (.xlsx)</DownloadButton>

Please email your background and durance to Dan by July 12, 2026 along with a copy of your character sheet. Characters created after game start can ignore this deadline.

All Character creation rules are standard except for the following.

**Attributes:** (5/4/3) All attributes start with the first dot free. No attributes may start above 4.

**Skills:** (11/7/4) No skill may start above 3. In order to be literate, you must have at least one dot in Academics.

**Courts:** Only the seasonal courts (Winter, Spring, Summer, and Autumn) are available.

**Contracts:** You get 5 dots of contracts. Two of the ones you take must be affinity for your Seeming or Court. No contract may start above 3.

**Merits:** You get 10 merit points. No merit may start above 3 dots. All merits must be appropriate for the time period. Note that there are changes to merits in the [house rules](/rules).

**Clarity:** Starting Clarity will be determined after the character's background and durance are submitted. I would like to have a one-on-one so we can work out together what the appropriate starting clarity will be for your character.

## Background and Durance

20 experience will be granted to all players upon submission of your characters background and durance. Things I would like know about your character:

+ *Who were you when you were taken?*
+ *How were you taken?*
+ *What was life like for you in Arcadia?*
+ *How did you escape?*
+ *What was the memory that reminded you of the real world?*
+ *How long were you there and how long have to been out?*
